*{
    margin: 0;
    padding: 0;
}
.heading{
    position: sticky;
    height: 80px;
    background-color: rgb(221, 220, 220);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.logo1{
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-left: 70px;
}
.headingword1{
    font-size: xx-large;
    margin-top: 20px;
    margin-left: 20px;
}
.headingword2{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 850px;
}
.headingword3{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 50px;
}
.headingword4{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 50px;
}
.df{
    display: flex;
}
.box1{
    height: 300px;
    width: 1370px;
    background-color:  rgb(221, 220, 220);
    margin: 80px;
}
.wordinbox{
    font-size: 50px;
    position: absolute;
    top: 270px;
    left: 680px;
}
.pragraph1{
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
}
.pragraph2{
    /* margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px; */
    margin: 80px;
}
.word1{
    font-size: 40px;
}
.word2{
    font-size:20px;
}
.box2{
    border-radius: 30px;
    height: 300px;
    width: 1370px;
    background-color:  rgb(221, 220, 220);
    margin: 80px;
}
.word3{
    font-size: 35px;
    position: absolute;
    left: 130px;
    top: 1200px;
}
.dot1{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    left: 700px;
    top: 1340px;
}
.dot2{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 720px;
    top: 1340px;
}
.dot3{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color:white;
    position: absolute;
    left: 740px;
    top: 1340px;
}
.dot4{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color:white;
    position: absolute;
    left:760px;
    top: 1340px;
}
.box3{
    height: 250px;
    width: 1700px;
    background-color:  rgb(221, 220, 220);
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 80px;
}
.pragraph3{
    margin: 80px;
    width: 1800px;
}
.word4{
    font-size: 30px;
}
.word5{
    font-size: 20px;
}
.word6{
    position: absolute;
    font-size: 30px;
    left: 350px;
    top: 1640px;
}
.box4{ 
    height: 300px;
    width: 1300px;
    background-color:  rgb(221, 220, 220);
    margin: 100px;
    position: relative;
}
.box5
{
    height: 200px;
    width: 900px;
    border-radius: 20px;
    background-color: rgb(158, 158, 158);
    position: absolute;
    top: 50px;
    left: 350px;
}
.logo2{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 50px;
}
.word7{
    position: absolute;
    top: 110px;
    left: 50px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.word8{
    position: absolute;
    top: 140px;
    left: 30px;
}
.logo3{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 60px;
}
.logo4{
    height: 13px;
    width: 13px;
    position: absolute;
    top: 93px;
    left: 95px;
}
.logo5{
    height: 15px;
    width: 15px;
    position: absolute;
    top: 120px;
}
.word9{
    position: absolute;
    top: 50px;
    left: 150px;
}
.word10{
    position: absolute;
    top: 50px;
    left: 420px;
}
.word11{
    position: absolute;
    top: 50px;
    left: 700px;
}
.word12{
    position: absolute;
    top: 90px;
    left: 230px;
}
.box6{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: 80px;
    margin-left: 110px;
}
.box7{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: 80px;
    margin-left: 15px;
}
.box8{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: 80px;
    margin-left: 15px;
}
.box9{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: 15px;
    margin-left: 110px;
}
.box10{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: 15px;
    margin-left: 15px;
}
.box11{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: 15px;
    margin-left: 15px;
}
.box12{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: -80px;
    margin-left: 660px;
}
.box13{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: -80px;
    margin-left: 15px;
}
.box14{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: -80px;
    margin-left: 15px;
}
.box15{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: -30px;
    margin-left: 660px;
}
.box16{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: -30px;
    margin-left: 15px;
}
.box17{
    height: 35px;
    width: 35px;
    background-color: rgb(221, 220, 220);
    margin-top: -30px;
    margin-left: 15px;
}
